.appStyle {
  height: auto;
  width: 1000px;
  margin: auto;
  margin-top: 100px;
  padding: 40px;
  background-color: rgb(240, 240, 240);
  border-radius: 24px;
  box-shadow: 6px 6px 15px 0px rgb(211, 211, 211);

  header {
    display: flex;
    flex-direction: row;
  }

  button {
    height: 40px;
    width: 120px;
    padding: auto;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid rgb(220, 220, 220);
    border-radius: 16px;
    background-color: rgb(240, 240, 240);
  }

  table {
    width: 100%;
    table-layout: fixed;
    thead {
      position: relative;
      th {
        height: 80px;
        padding: 12px;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 16px;
        height: 16px;
        padding: auto;
        padding-top: 2px;
        margin-left: 6px;
        filter: opacity(90%);
      }
    }
    thead::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 10px;
      width: 100%;
      border-top: 1px solid rgb(206, 206, 206);
    }
    td {
      text-align: center;
    }
    tbody {
      tr:hover {
        border-radius: 24px;
        background-color: rgb(245, 245, 245);
      }
    }
    .idStyle {
      width: 80px;
      cursor: pointer;
    }
    .sorteble {
      cursor: pointer;
    }
  }
}
