.row {
  .controls {
    width: 120px;
    display: flex;
    flex-direction: row;

    button {
      cursor: pointer;
      display: block;
      height: 40px;
      width: 40px;
      margin: auto;
      margin-left: 16px;
      padding: 10px;
      border: none;
      border-radius: 50%;
      background: none;

      img {
        filter: opacity(76%);
      }
    }

    button:hover {
      transform: scale(1.2, 1.2);
    }
  }
}
